---
layout: main_layout
title: Projects
group: navigation
---
<div class="page-heading" style="padding-top:20px;">
  <div class="page-title">Projects</div>
  <div class="hr"></div>
  <div class="page-description">constructions involved</div>
</div>


<div class="container">
  <div class="row">

    {% assign project_pages = (site.pages | where: "group" , "projects" | sort: "date") %}
    {% for proj in project_pages %}
      {% assign proj_img_path = null %}

      {% if proj.profile_image_filename != null %}
        {% assign proj_img_path = '/img/' | append: proj.profile_image_filename | prepend: proj.filename %}
      {% else %}
        {% assign proj_img_path = '/assets/img/building_a_house.jpg' %}
      {% endif %}

      <div class="grid-vertical-gap col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-centered project-thumbnail-cell">
        <a class="caption-style-3" href="{{ proj.filename }}">
          <img src="{{ proj_img_path }}" alt="">
          <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
              <h1>{{ proj.title }}</h1>
              <p>{{ proj.date_range }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

