---
layout: 
title: Services
permlink: /debug/
group: navigation
---

<div class="page-content">

   {% assign project_pages = (site.pages | where: "group" , "projects") %}
    {% assign sorted_pages = (project_pages | sort: "date") %}
    {% for proj in sorted_pages %}
      {% assign proj_img_path = null %}

      {% if proj.profile_image_filename != null %}
        {% assign proj_img_path = '/img/' | append: proj.profile_image_filename | prepend: proj.filename %}
      {% else %}
        {% assign proj_img_path = '/assets/img/building_a_house.jpg' %}
      {% endif %}
      {{ proj.title }}
      {{ proj.date }}
<hr>
    {% endfor %}

</div>