---
title: Projects
layout: main_layout
group: navigation
permalink: "/projects/"
---
<!-- ########################################### -->
<!-- ########## DONT REMOVE THIS PAGE ########## -->
<!-- ########################################### -->


<div class="page-heading" style="padding-top:20px;">
  <div class="page-title"><br></div><p>Projects</p>
  <div class="hr"></div>
  <div class="page-description">constructions involved</div>
</div>

{% assign project_pages = (site.pages | where: "group" , "projects" | sort: 'date') %}

<div class="container">
  <div class="row">

    {% for proj in project_pages %}
      {% assign proj_img_path = null %}

      {% if proj.image_files.size &gt; 0 %}
        {% assign proj_img_path = '/' | append: proj.image_files[0] %}
      {% else %}
        {% assign proj_img_path = '/assets/img/building_a_house.jpg' %}
      {% endif %}


      <div class="grid-vertical-gap col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-centered project-thumbnail-cell">
        <a class="caption-style-3" href="{{ proj.url | replace: '.html', '' }}">
          <img src="{{ proj_img_path }}" alt="">
          <div class="caption">
            <div class="blur"></div>
            <div class="caption-text">
              <h1>{{ proj.title }}</h1>
              <p>{{ proj.date_range }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  
  {% if project_pages.size <= 0 %}
    <div class="no-project-sign">
      Sorry, there aren't any projects at the moment
    </div>
  {% endif %}
</div>


