<footer class="container" style="background-color:lightgrey;">
  <small>Copyright &copy; 2016 New Australia Construction (NSW) Pty Ltd. All Rights Reserved.<br>
  ABN: 44 145 152  389 <br>
  Austradivan Builders divcence No.: 238726C</small>
</footer>


<div class="sticky-footer">
  <div class="container">
    <div class="row">
      <div class="sticky-footer-content  col-sm-6">
        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
        <div>0433 182 689</div>
      </div>
      <div class="sticky-footer-content col-sm-6">
        <i class="sticky-footer-separator fa fa-envelope-o" aria-hidden="true"></i>&nbsp;
        <div>info@newaustraliaconstruction.com.au</div>
      </div>
    </div>
  </div>
</div>