 <script src="{{ "/assets/js/jquery-2.2.0.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<!--  <script src="{{ "/assets/js/semantic.min.js" | prepend: site.baseurl }}"></script>-->
  <script src="{{ "/assets/js/jasny-bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/slick.min.js" | prepend: site.baseurl }}"></script>
  <!-- Menu Toggle Script -->
  
  <script>
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>