/* custom scroll bar */

.custom_scrollbar {}

.custom_scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom_scrollbar::-webkit-scrollbar-track {
  background-color: rgba(113, 112, 107, 0.1);
  -webkit-border-radius: 5px;
}

.custom_scrollbar::-webkit-scrollbar-thumb:vertical {
  background-color: rgba(0, 0, 0, .2);
  -webkit-border-radius: 6px;
}

.custom_scrollbar::-webkit-scrollbar-thumb:vertical:hover,
.custom_scrollbar::-webkit-scrollbar-thumb:horizontal:hover {
  background: red;
}

.custom_scrollbar::-webkit-scrollbar-thumb:horizontal {
  background-color: rgba(0, 0, 0, .2);
  -webkit-border-radius: 6px;
}


/* center element */
.col-centered *{
  margin: 0 auto;
  width: 100%;
}




.row.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}