body {
  color: black;
}

.page-content {
  margin-top: 65px;
  margin-bottom: 20px;
}

.landing-screen {
  background-color: lightgrey;
  width: 100%;
  margin-bottom: 20px;
  height: 500px;
}

.landing-screen-content {
  height:100%;
  background-image: url(/assets/img/building-joy-planning-plans.jpg);
  background-size: 100%;
  background-position: center center;
  background-size: cover
}


.landing-screen-slogan {
  position: relative;

  transform: translate(0%,180%);
  text-align:center;
}

.landing-screen-slogan p{
  color: white;
  font-size: 40px;
/*
  display: inline-block;
*/
  text-shadow: 0px 0px 15px black;
}

.landing-screen-slogan a {
  font-size:20px;
  font-weight:200;
  text-shadow: none;
  margin-top:0px;
}

@media (max-width:600px) {
  .landing-screen-slogan p{
    font-size:30px;
  }
}



.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*  height: 35px;*/
  background-color: white;
  /*  overflow-x:scroll;*/
  /*  white-space: nowrap;*/
}

.sticky-footer-content {
  text-align: center;
  padding: 5px;
}

.sticky-footer-content > div,
.sticky-footer-content > i {
  display: inline-block;
  color: black;
  /*    margin:5px;*/
}

@media(min-width:500px) {
  .sticky-footer-separator {
    margin-left: 40px;
  }
}

.page-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.page-heading > .page-title {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 200;
}

.page-heading > .page-description {
  font-size: 14px;
  font-weight: 100;
  margin-top: 10px;
}

.section-heading {
  margin-top: 15px;
  margin-bottom: 15px;
}

.section-heading p {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.section-heading .hr {
  width: 30%;
}

.hr {
  color: #cccccc;
  height: 1px;
  position: relative;
  width: 60%;
  text-align: center;
  margin: auto;
  /* center the block */
  overflow: hidden;
  max-width: 100%;
  border-bottom: 1px solid !important;
}

footer {
  margin-top: 20px;
  margin-bottom: 40px;
  bottom: 0;
  padding: 15px;
  font-size: 13px;
  font-weight: 300;
}

.header-with-line {
  position: relative;
  text-align: center;
  width: 30%;
  margin: auto;
}

.header-with-line > span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.header-with-line:before {
  background: #ddd;
  /* ^ line color */
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.grid-vertical-gap {
  padding-top: 10px;
  padding-bottom: 10px;
}

.slick-next,
.slick-prev {
  /*  color:black;*/
  background-color: black;
  z-index: 9999;
}

.slick-slide > * {
  max-width: 100%;
  max-height: 100%;
}

.slick-slide {
  height: 50vh;
}

.slick-dots {
  overflow: scroll;
  white-space: nowrap;
}

.project-header-title {
  font-size: 20px;
  font-weight: 200;
  margin: 20px 0px;
  text-align: center;
}

.project-description h4 {
  font-size: 17px;
}

.project-description p {
  font-size: 14px;
  color: #555555;
}

.project-period h4 {
  font-size: 17px;
}

.project-period p {
  font-size: 14px;
  color: #555555;
}

.project-location h4 {
  font-size: 17px;
}

.project-location p {
  font-size: 14px;
  color: #555555;
}

.empty-sign {
  height: 200px;
  padding-top:100px;
  font-size: 16px;
  text-align: center;
  color: grey;
  font-family: 'Raleway', sans-serif;
}

.service-item {
  padding: 15px;
}

.service-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.service-description p {
  text-align: justify;
  font-size: 14px;
  font-weight: 200px;
}

.topic-image {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.topic-image > img {
  object-fit: cover;
  position: absolute;

  /* vertical center the image */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .topic-image {
    height: 200px;
  }
}

@media (min-width: 993px) {
  .project-thumbnail-cell {
    height: 230px;
    overflow: hidden;
  }
}

.contact-topic-img-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  background-size: cover;
  background-position: 30% center;
}

.job-list {
  margin-top: 20px;
}

.job-list .job-title {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: 300;
}

.job-list .info-topic {
/*  font-family: 'PT Sans', sans-serif;*/
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 800;
}

.job-list .info-content {
  font-family: 'Lato', sans-serif;
/*  font-family: 'PT Sans', sans-serif;*/
  font-size: 15px;
  font-weight: 100;
}

.job-list .job-description {
  font-family: 'Lato', sans-serif;
  font-weight:200;
  font-size:15px;
  text-align: justify;
}

.contact-page-content {
  margin-top: 25px;
}

.contact-details {
  /*  margin: 0 auto;*/
}

.contact-details-item {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
}

.contact-details-content {
  color: black;
}

.contact-details-content:hover,
.content-details-content:focus {
  color: #283891;
  text-decoration: none;
}


/* navbar style */

.navbar-brand {
  /*  padding:5px;*/
  /*  padding-top:7px;*/
}

.navbar-brand img {
  width: auto;
  height: 100%;
  display: inline-block;
}

.navbar-brand span {
  padding-left: 15px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: black;
}

@media (max-width: 991px) {
  .navbar-brand span {
    font-size: 14px;
  }
}

.navbar {
  background-color: white;
  border: 0px;
}

@media(min-width:993px) {
  .navbar-nav li a {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navbar-nav li a {
  font-size: 14px;
  color: grey;
  border-bottom: 2px solid white !important;
/*  font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.navbar-nav li a:hover,
.navbar-nav li a:focus {
  color: #283891;
  background-color: white;
}

.navbar-nav .active a {
  color: black;
  border-bottom: 2px solid #283891!important;
}

.icon-bar {
  background-color: grey;
}


/* / navbar style */

.service-description {
  text-align: justify;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.alert {
  position: fixed;
  top: 5%;
  z-index: 9999;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  max-width: 100%;
}

.about-page-text {
  font-size: 15px;
  font-weight: 200;
  /*  font-family: 'Open Sans', sans-serif;*/
  font-family: 'Lato', sans-serif;
  text-align: justify;
}

.director-title {
  margin-top: 40px;
}

.director-title h4 {
  text-align: right;
  font-family: 'Marck Script', cursive;
  font-size: 26px;
  font-weight: 100;
}

.director-title p {
  font-size: 12px;
  font-weight: 100;
  text-align: right;
  font-family: 'Raleway', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-group.required .control-label:after {
   content:"*";
   color:red;
   font-weight:lighter;
}
