<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}


  <div class="page-content">



        <div class="slides">
          <li>
            <img src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
          </li>
          <li>
            <img src="images/kitchen_adventurer_lemon.jpg" />
          </li>
          <li>
            <img src="images/kitchen_adventurer_donut.jpg" />
          </li>
          <li>
            <img src="images/kitchen_adventurer_caramel.jpg" />
          </li>
          <li>
            <img src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
          </li>
          <li>
            <img src="images/kitchen_adventurer_lemon.jpg" />
          </li>
          <li>
            <img src="images/kitchen_adventurer_donut.jpg" />
          </li>
          <li>
            <img src="images/kitchen_adventurer_caramel.jpg" />
          </li>
          <li>
            <img src="images/kitchen_adventurer_cheesecake_brownie.jpg" />
          </li>
          <li>
            <img src="images/kitchen_adventurer_lemon.jpg" />
          </li>
          <li>
            <img src="images/kitchen_adventurer_donut.jpg" />
          </li>
          <li>
            <img src="images/kitchen_adventurer_caramel.jpg" />
          </li>
        </div>



    </div>






  {% include footer.html %}
  {% include javascript.html %}
</body>

</html>