<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  <div class="page-content">
    
    <div class="page-heading" style="padding-top:20px;">
      <div class="page-title">{{ page.title }}</div>
      <div class="hr"></div>
      <div class="page-description">{{ page.date_range }}</div>
    </div>
      
      
    <!--  Image Slider  -->
    <div class="slides">
      {% for img_file_path in page.image_files %}
          <div><img class="img-responsive" src="{{ img_file_path }}"/></div>
      {% endfor %}
    </div>
    <!-- end of Image Slider -->
    
    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          <div class="project-description">
            <h4>Overview</h4>
            <p>{{ page.description }}</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="project-period">
            <h4>Period</h4>
            <!-- date value of the project -->
            <p>{{ page.date | date: "%B %Y" }}</p>
          </div>
          <div class="project-location">
            <h4>Location</h4>
            <p>{{ page.location }}</p>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  {% include footer.html %}
  {% include javascript.html %}
</body>

</html>
